@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  /* --primary-color: rgb(17, 86, 102); */
  --primary-color: #1a1a1d;
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.span-highlight {
  border-bottom: 1px dotted #ffffff;
  font-weight: 800;
}

.container {
  display: flex;
}

/* CONTAINER ESQUERDO */
/* PERSON IMAGEM AND TITLE */

.left-container {
  position: fixed;
  max-width: 350px;
  width: 350px;
  height: 100vh;
  color: white;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
  background-image: url("./../img/fundoleft.jpg");
  background-position: bottom;
  background-size: cover;
}

.left-container__person-image{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.left-container__person-image .person-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.67); 
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.67);
}

.left-container__person-image .person-img img{
  width: 100%;
}

.left-container__person-image p{
  /* color: white; */
}

/* PERSON DESCRIPTION */

.left-container__person-description{
  padding: 0 1.5em;
}

.left-container__person-description p{
  font-size: .8em;
  text-align: center;
  line-height: 1.5em;
}

.left-container__person-description p span{
  border-bottom: 1px dotted #ffffff;
  font-weight: 800;
}

/* PERSON MEDIA */

.left-container__person-social-media {
  bottom: 10px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0 1.5em;
}

.left-container__person-social-media span{
  font-size: 1.5em;
  margin: 0;
}

.left-container__person-social-media span a{
  color: white;
  text-decoration: none;
  padding: 0 .4em;
  border-radius: .3em;
  transition: all 400ms;
}

.left-container__person-social-media span a:hover {
  background: white;
  color: black;
}

/* CONTAINER DIREITO */
/* Menu */

.right-container {
  width: 100vw;
  padding-left: 350px;
  overflow: hidden;
}

.right-container-menu {
  /* width: 100%; */
  display: flex;
  margin: 0;
  top: 0;
  position: sticky;
  background-color: #1a1a1d;
}

.right-container-menu .menu__ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
}

.right-container-menu .menu__ul li {
  padding: .7em 1.5em;
  cursor: pointer;
  color: #efefef;
  transition: all 400ms;
}

.right-container-menu .menu__ul li:hover {
  background-color: #6f2232;
}

/* .right-container-menu .menu__curriculum-button {
  border: 2px solid #efefef;
  transition: all 400ms;
  margin-right: .4em;
}

.right-container-menu .menu__curriculum-button:hover {
  border-color: #6f2232;
} */

.right-container-menu .menu__curriculum-button a{
  background-color: #6f2232;
  text-decoration: none;
  color: #efefef;
  padding: .7em .4em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 400ms;
}

/* .right-container-menu .menu__curriculum-button a:hover {
  color: #6f2232;
  background-color: #efefef;
} */

.right-container-menu .menu__curriculum-button a i {
  margin-left: .3em;
}

/* TAB CONTENT */

.tab-content {
  padding: 2em 4em;
}

/* HOME CONTENT */

.tab-content p{
  color: #efefef;
}

.right-container__home-tab .home__ola {
  font-size: 2em;
  font-weight: 800;
}

.right-container__home-tab .home__welcome {
  font-size: 1.5em;
  font-weight: 600;
}

.right-container__home-tab .home__introduction {
  font-size: 1em;
}

.right-container__home-tab .home__observacao {
  font-size: 1em;
}

.right-container__home-tab .home__mastering-tecnologies {
  border-top: 2px solid #efefef;
  margin-top: 2em;
}

.home__mastering-tecnologies .mastering__imgs {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.home__mastering-tecnologies .mastering__imgs .mastering__imgs-img{
  /* width: 150px; */
  padding: 1em 1em;
  margin-left: 2em;
  margin-right: 2em;
  border-radius: .3em;
  transition: all 400ms;
  cursor: pointer;
}

.mastering__imgs-img:hover{
  background-color: #575758;
}

.mastering__imgs-img img{
  height: 100px;
}

.mastering_img-selected{
  background-color: #4e4e50;
}

.home__mastering-tecnologies .mastering__description {
  margin-top: 2em;
  padding: 1em 1.5em;
  border-radius: .4em;
  background-color: #4e4e50;
}

.mastering__description div {
  display: none;
}

.mastering__description div.description_show {
  display: flex;
  align-items: center;
}

/* .mastering__description .description-container{
  display: none;
} */

.description-img{
  height: 70px;
  border-right: 2px solid #efefef;
  padding-right: 1em;
  margin-right: 1em;
}

/* .mastering_description-show {
  display: flex;
  align-items: center;
} */


