@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  /* --primary-color: rgb(17, 86, 102); */
  --primary-color: #1a1a1d;
  --primary-color-darker: rgb(9, 48, 56);
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  /* background-color: #777785; */
  border: 2px solid rgb(64, 64, 64);
}

::-webkit-scrollbar-thumb {
  background-color: #efefef;
  transition: all 550ms;
  border: 4px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c2bebe;
}

::-webkit-scrollbar-button:single-button {
  background-color: rgb(64, 64, 64);

  display: block;
  background-size: 10px;
  background-repeat: no-repeat;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 12px;
  width: 16px;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 12px;
  width: 16px;
  background-position: center 2px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 100,0 50,50'/></svg>");
}

* {
  box-sizing: border-box;
  outline: 0;
}

html, body {margin: 0; padding: 0; overflow-x:hidden;}

body {
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: #efefef;
}

h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
  color: #efefef;
}

.span-highlight {
  border-bottom: 1px dotted #ffffff;
  font-weight: 800;
}

span.background {
  border-radius: .3em;
  padding: .3em .2em;
  transition: background-color 400ms;
}

span.background:hover {
  background-color: #4e4e50;
}

/* */

.container {
  display: flex;
  flex-direction: column-reverse;
}

/* CONTAINER ESQUERDO */

.left-container {
  /* box-sizing: border-box; */
  z-index: 2;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  /* max-width: 350px; */
  width: 100vw;
  max-width:100%;
  height: 70px;
  color: white;
  background-color: #6f2232
  /* box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7); */
  /* background-image: url("./../img/fundoleft.jpg"); */
  /* background-position: bottom; */
  /* background-size: cover; */
}

.left-container__person-image{
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 7px;
}

.left-container__person-image .hamburger-menu{
  margin-right: 20px;
  cursor: pointer;
  transition: transform 300ms;
  text-align: left;
  flex-grow: 0;
}

.left-container__person-image .hamburger-menu.active {
  transform: rotate(90deg);
} 

.left-container__person-image .person-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.left-container__person-image .person-img img{
  width: 100%;
}

.left-container__person-image p{
  /* color: white; */
  flex-grow: 1;
}

/* PERSON DESCRIPTION */

.left-container__person-description{
  display: none;
  padding: 0 1.5em;
}

.left-container__person-description p{
  font-size: .8em;
  text-align: center;
  line-height: 1.5em;
}

.left-container__person-description p span{
  border-bottom: 1px dotted #ffffff;
  font-weight: 800;
}

/* PERSON MEDIA */

.left-container__person-social-media {
  display: none;
}

.left-container__person-social-media span{
  font-size: 1.5em;
  margin: 0;
}

.left-container__person-social-media span a{
  color: white;
  text-decoration: none;
  padding: 0 .4em;
  border-radius: .3em;
  transition: all 400ms;
}

.left-container__person-social-media span a:hover {
  background: white;
  color: black;
}


/* CONTAINER DIREITO */
  /* Menu */
  
  .right-container {
    width: 100vw;
    overflow: hidden;
    max-width:100%;
    margin-top: 70px;
  }
  
  .right-container-menu {
    /* width: 100%; */
    z-index: 2;
    position: fixed;
    top: 70px;
    display: none;
    flex-direction: column;
    margin: 0;
    background-color: #1a1a1d;
  }
  
  .right-container-menu.active {
    display: flex;
  }

  .right-container-menu .menu__ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .right-container-menu .menu__ul li {
    padding: .7em 1.5em;
    cursor: pointer;
    color: #efefef;
    transition: all 400ms;
  }
  
  .right-container-menu .menu__ul li:hover {
    background-color: #6f2232;
  }
  
  .right-container-menu .menu__ul li.active {
    background-color: #6f2232;
  }
  
  /* .right-container-menu .menu__curriculum-button {
    border: 2px solid #efefef;
    transition: all 400ms;
    margin-right: .4em;
  }
  
  .right-container-menu .menu__curriculum-button:hover {
    border-color: #6f2232;
  } */
  
  .right-container-menu .menu__curriculum-button a{
    background-color: #6f2232;
    text-decoration: none;
    color: #efefef;
    padding: .7em .4em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 400ms;
  }
  
  /* .right-container-menu .menu__curriculum-button a:hover {
    color: #6f2232;
    background-color: #efefef;
  } */
  
  .right-container-menu .menu__curriculum-button a i {
    margin-left: .3em;
  }
  
  /* TAB CONTENT */
  
  .tab-content {
    padding: 2em .6em;
    font-size: 16px;
  }
  
  .tab-content section{
    /* display: none; */
    height: 0;
    opacity: 0;
    transition: height 2s, opacity 200ms;
    overflow: hidden;
  }
  
  .tab-content section.active {
    /* display: block; */
    height: auto;
    opacity: 1;
  }
  
  /* HOME CONTENT */
  
  .tab-content p{
    color: #efefef;
  }
  
  .right-container__home-tab .home__ola {
    font-size: 2em;
    font-weight: 800;
  }
  
  .right-container__home-tab .home__welcome {
    font-size: 1.5em;
    font-weight: 600;
  }
  
  .right-container__home-tab .home__introduction {
    font-size: 1em;
  }
  
  .right-container__home-tab .home__observacao {
    font-size: 1em;
  }
  
  .right-container__home-tab .home__mastering-tecnologies {
    border-top: 2px solid #efefef;
    margin-top: 2em;
  }
  
  .home__mastering-tecnologies .mastering__imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
  }
  
  .home__mastering-tecnologies .mastering__imgs .mastering__imgs-img{
    /* width: 150px; */
    padding: .4em;
    margin: .2em;
    border-radius: .3em;
    transition: all 400ms;
    cursor: pointer;
  }
  
  .mastering__imgs-img:hover{
    background-color: #575758;
  }
  
  .mastering__imgs-img img{
    height: 50px;
    margin: 0;
    padding: 0;
    display: block; /* remover espaço abaixo de uma imagem */ 
  }
  
  .mastering_img-selected{
    background-color: #4e4e50;
  }
  
  .home__mastering-tecnologies .mastering__description {
    margin-top: 2em;
    padding: 1em 1.5em;
    border-radius: .4em;
    background-color: #4e4e50;
  }
  
  .mastering__description div {
    display: none;
  }
  
  .mastering__description div.description_show {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* .mastering__description .description-container{
    display: none;
  } */
  
  .description-img{
    height: 70px;
    border-bottom: 2px solid #efefef;
    padding-bottom: 1em;
    margin-bottom: 1em;
  }
  
  /* .mastering_description-show {
    display: flex;
    align-items: center;
  } */
  
  
  /* CONTATO */
  
  .right-container__contato-tab {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: baseline; */
    /* margin-top: 100px; */
  }
  
  .contato_info {
    /* padding-right: 2em; */
  }
  
  .contato_info h1 {
    text-align: center;
  }
  
  .contato_info p {
    text-align: center;
    font-size: 16px;
  }
  
  .contato_info p i {
    margin-left: 10px;
  }
  
  .contato_informacoes .contato_fone, .contato_informacoes .contato_email {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contato_fone .btn-copy, .contato_email .btn-copy {
    display: none;
    background-color: transparent;
    border: 1px solid #efefef;
    border-radius: .3em;
    padding: .8em .6em;
    color: #efefef;
    transition: all 300ms;
    margin-left: 12px;
    cursor: pointer;
  }
  
  .contato_fone .btn-copy:hover, .contato_email .btn-copy:hover {
    background-color: #efefef;
    color: #1a1a1d;
  }
  
  .contato_fone .btn-copy:active, .contato_email .btn-copy:active {
    background-color: #c2bebe;
  }
  
  .contato_info .contato_disponibilidade {
    border-top: 2px solid #efefef;
    padding-top: 1.5em;
  }
  
  .contato_google-maps {
    padding-top: 2em;
    border-top: 2px solid #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contato_google-maps h1{
    margin-bottom: 1em;
    text-align: center;
  }
  
  /* PROJETOS */
  
  .right-container__projetos-tab .projects-title {
    font-size: 1.5em;
    text-align: center;
  }
  
  .right-container__projetos-tab .projects-list {
    display: flex;
    flex-direction: column;
  }
  
  .projects-list .project-container {
    border-radius: .3em;
    padding: .5em;
    margin-top: .8em;
    transition: all 500ms;
    border: 1px solid transparent;
  }
  
  .projects-list .project-container:hover {
    border: 1px solid #efefef;
    box-shadow: 0 0 10px 0 rgba;
  }
  
  .project-header {
    display: flex;
    align-items: center;
    background-color: #6f2232;
    border-radius: .3em;
    padding: .5em;
    cursor: pointer;
  }
  
  .project-header .project-info {
    flex-grow: 2;
  }
  
  .project-info p {
    margin: 0;
    padding: 0;
    text-align: left;
    margin-left: 10px;
  }
  
  .project-info p.project-name {
    font-size: 1.3em;
    text-transform: uppercase;
    color: #b9b9b9;
    font-weight: 600;
  }
  
  .project-header .container-opener {
    /* flex-grow: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    border-radius: .3em;
    transition: all 700ms;
  }
  
  .project-header:hover .container-opener {
    background-color: #efefef;
  }
  
  .project-header .container-opener p {
    color: #efefef;
    transition: all 700ms;
  }
  
  .project-header:hover .container-opener p {
    color: black;
  }
  
  .project-header .container-opener p i {
    /* width: 200px; */
  }
  
  .project-container .project-details {
    /* display: none; */
    max-height: 0;
    opacity: 0;
    transition: opacity 300ms, max-height 600ms ease-out;
    overflow: hidden;
  }
  
  .project-container .project-details.active {
    /* display: block; */
    opacity: 1;
    max-height: 9999px;
    transition: max-height 600ms ease-in;
  }
  
  .screen-detail {
    display: flex;
    justify-content: center;
    align-items:stretch;
  }
  
  .arrow-left, .arrow-right {
    display: none;
  } 
  
  .image-container {
    flex-grow: 1;
    max-height: 0;
    max-width: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    transition: all 0ms linear;
  }
  
  .image-container.active {
    max-height: 9999px;
    max-width: 9999px;
    transition: max-width 1s linear, max-height 200ms linear;
    margin: 0 1em;
    /* min-height: 800px; */
    background-color: white;
    border-radius: .4em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin-bottom: 1em;
  }
  
  .image-container .image-config {
    margin: 0;
    padding: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0.9220063025210083) 0%, rgba(56,56,126,0.8295693277310925) 32%, rgba(31,86,159,0.87718837535014) 55%);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #6f2232;
  }
  
  .image-container img {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .image-container .image-description {
    text-align: justify;
    color: black;
    padding: 1em 1.5em;
    margin: 0;
  }
  
  
  /* CRESCIMENTO */
  
  .right-container__crescimento-tab h1.title {
    margin-bottom: 1.5em;
    text-align: center;
    font-size: 1.5em;
  }
  
  
  .right-container__crescimento-tab .courses {
    display: flex;
    flex-direction: column;
  }
  
  .course-container {
    border: 2px solid #6f2232;
    border-radius: .3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.5em;
  }
  
  .course-container .course-title {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    min-width: 300px;
    background-color: #1a1a1d;
    padding: 0 1.5em;
    margin: 0;
    position: relative;
    overflow: hidden;
  }
  
  .course-special {
    border: 2px dotted #6f2232;
    box-shadow: 0 0 10px 0 rgba(109, 34, 49, .8);
  }
  
  .course-title .course-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
  }
  
  .course-title .course-name p {
    text-align: center;
    text-transform: uppercase;
  }
  
  /* .course-title .course-name img{
    width: 40px;
  } */
  
  .course-title .course-site {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: .5em; */
    padding: .5em 0;
    border-top: 1px solid #efefef;
  }
  
  .course-title .course-site img {
    /* width: 20px; */
    height: 30px;
    margin-right: 15px;
  }
  
  .course-title .course-site p {
    margin: 0;
    padding: 0;
  }
  
  .course-container .curso-description {
    margin-left: 1em;
    padding-right: 1em;
    overflow-y: auto;
  }
  
  .course-container .curso-description p{
    margin: .5em 0;
    padding: 0;
  }
  
  .course-title p.learning-state {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #6f2232;
    -webkit-box-shadow: 1px -9px 16px 0px rgba(0,0,0,0.2); 
    box-shadow: 1px -9px 16px 0px rgba(0,0,0,0.2);
  }
  
  .course-title p.learning-state i{
    margin-right: 5px;
    color: rgb(10, 175, 10);
  }
  
  .course-title p.learning-state i.icofont-spinner{
    margin-right: 5px;
    color: rgb(10, 109, 175);
  }

/*  */

@media screen and (min-width: 700px) {

  /* image arrows */
  .arrow-left, .arrow-right {
    font-size: 50px;
    cursor: pointer;
    border-radius: .3em;
    display: flex;
    align-items: center;
  } 
  
  .arrow-left i {
    color: #efefef; 
  }
  
  .arrow-left:hover, .arrow-right:hover {
    background-color: #6f2232;
  }

  /* courses container */
  .course-container {
    border: 2px solid #6f2232;
    border-radius: .3em;
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-content: center;
    margin-bottom: 1.5em;
  }

  /*  */
  .course-title p.learning-state {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: -50px;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: #6f2232;
    transition: bottom 200ms;
    -webkit-box-shadow: 1px -9px 16px 0px rgba(0,0,0,0.2); 
    box-shadow: 1px -9px 16px 0px rgba(0,0,0,0.2);
  }
  
  .course-container:hover .course-title p.learning-state {
    /* background-color: black; */
    bottom: 0;
  }
  
  .course-title p.learning-state i{
    margin-right: 5px;
    color: rgb(10, 175, 10);
  }
  
  .course-title p.learning-state i.icofont-spinner{
    margin-right: 5px;
    color: rgb(10, 109, 175);
  }

  /* MAIN ICONES */
  .home__mastering-tecnologies .mastering__imgs .mastering__imgs-img{
    margin: .5em 1em;
    padding: .4em;
  }
  
  .mastering__imgs-img img{
    height: 70px;
    margin: 0;
    padding: 0;
    display: block; /* remover espaço abaixo de uma imagem */ 
  }
}


@media screen and (min-width: 1200px){
  
  /* CONTAINER ESQUERDO */
  /* PERSON IMAGEM AND TITLE */

  .container{
    flex-direction: row;
  }
  
  .left-container {
    position: fixed;
    max-width: 350px;
    width: 350px;
    height: 100vh;
    color: white;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
    background-image: url("./../img/fundoleft.jpg");
    background-position: bottom;
    background-size: cover;
  }
  
  .left-container__person-image{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }

  .left-container__person-image .hamburger-menu {
    display: none;
  }
  
  .left-container__person-image .person-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.67); 
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.67);
  }
  
  .left-container__person-image .person-img img{
    width: 100%;
  }
  
  .left-container__person-image p{
    /* color: white; */
  }
  
  /* PERSON DESCRIPTION */
  
  .left-container__person-description{
    padding: 0 1.5em;
    display: block;
  }
  
  .left-container__person-description p{
    font-size: .8em;
    text-align: center;
    line-height: 1.5em;
  }
  
  .left-container__person-description p span{
    border-bottom: 1px dotted #ffffff;
    font-weight: 800;
  }
  
  /* PERSON MEDIA */
  
  .left-container__person-social-media {
    bottom: 10px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 1.5em;
  }
  
  .left-container__person-social-media span{
    font-size: 1.5em;
    margin: 0;
  }
  
  .left-container__person-social-media span a{
    color: white;
    text-decoration: none;
    padding: 0 .4em;
    border-radius: .3em;
    transition: all 400ms;
  }
  
  .left-container__person-social-media span a:hover {
    background: white;
    color: black;
  }

  /* CONTAINER DIREITO 1200 PX */
  
  .right-container {
    width: 100vw;
    padding-left: 350px;
    overflow: hidden;
  }

  .right-container-menu {
    /* width: 100%; */
    z-index: 2;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    margin: 0;
    background-color: #1a1a1d;
    justify-content: center;
    width: calc(100% - 350px);
  }


  .right-container-menu .menu__ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
  }

  /* TAB CONTENT 1200PX */

  .tab-content {
    padding: 2em 2em;
    font-size: 20px;
  }

  /* MAIN ICONES 1200px */
  .home__mastering-tecnologies .mastering__imgs .mastering__imgs-img{
    margin: .5em 2em;
    padding: .8em;
  }
  
  .mastering__imgs-img img{
    height: 80px;
    margin: 0;
    padding: 0;
    display: block; /* remover espaço abaixo de uma imagem */ 
  }

  /* MAIN ICONES DESCRIPTION 1200px */
  .mastering__description div.description_show {
    flex-direction: row;
    align-items: center;
  }

  .description-img{
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    border-right: 2px solid #efefef;
    padding-right: 1em;
    margin-right: 1em;
  }
}

